@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-VF.woff2");
    font-variation-settings: "wght" 800;
}
* {
    font-family: "Montserrat";
    color: black;
}
p {
    margin: 5px;
    text-decoration: underline;
    font-size: 25px;
    color: #888;
}
body {
    background-color: #CCC;
    text-align: center;
    margin-top: 30px;
    min-width: 525px;
}
#container {
    width: 512px;
    height: 512px;
    position: relative;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px auto;
}
#screen {
    background-image: url(bg.png);
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}
#cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    outline: 2px dashed black;
    pointer-events: none;
}
.point {
    width: 6px;
    height: 6px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}
.tool {
    display: inline-block;
    vertical-align: top;
    border: 5px solid black;
    border-radius: 5px;
    width: 229px;
    height: 100px;
    padding: 10px;
    background-color: white;
}
#color {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
}
#output {
    opacity: 0;
    position: fixed;
    top: 100%;
}
#generate {
    font-size: 30px;
    padding: 15px;
    margin: 5px;
    border-radius: 4px;
    border: 5px solid black;
    cursor: pointer;
    transition: all 0.2s ease-out;
}